*{
    margin:0;padding:0;
}
body{
    font-family:'Microsoft YaHei';
    background-color: #CCCCCC;;
}
/*guide****************************************8*/
header {
	position: relative;
	left: 0px;
	top: 0px;
	background-color: #696969;
	width: 100%;
	height: 80px;
}
header ul {
/*	float: right;*/
	position:absolute;
	top:0;
	right:10px;
}
header ul li {
	text-align: center;
	float: left;
	width: 60px;
	display: block;
	padding: 20px 10px;
	margin: 0px;
}
header ul li a{
	font-color: white;
	text-align: center;
	font-size: 100px;
}
header ul li:hover{
	border-bottom: 1px solid red;
	background: #474747;
	border-radius: 3px;
}

.wrap {
	font-family: "Microsoft Yahei";
	position: relative;
	height: auto;
	min-height: 100%;
	padding-bottom:50px;
	margin-bottom: 170px;
}
.wrap span {
	font-size: 12px;
	color:#808080;
}
.wrap p {
	text-indent: 2em;
}
.wrap .article1,.article2,.article3,.article4{
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;

	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;

	width: 99%;
	background-color: #FFF;

	position: relative;
	top: 80px;
}

.article3 li {
	border: 1px solid #A9A9A9;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

.article4 table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;
}
.article4 th {
	background-color: #000;
	color:#FFF;
}
.article4 tfoot {
	background-color: #808080;
	font-weight: bold;
}

.information {
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 99%;

	padding-top: 10px;
	padding-left: 10px;
	background-color: #FFF;
	padding-bottom: 50px;
}
.information table {
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.information label {
}
#email_input {
	text-align: right;
}
.information tfoot {
	
}
.submit_button {
	position: absolute; 
	bottom: 80px;
	background-color:#1E90FF; 
	color: #FFF;
	text-align:center;
	margin-right: auto;
	margin-left: auto;

}
.blank {
	height: 50px;
}
/*.footer {
	position: absolute;
	bottom: -100px;
	left: auto;
	right: auto;
	height: 50px;
	width: 100%;

	background-color: #000;
	color: #FFF;
	text-align: center;
}*/

footer{
    width:100%;
    height:50px;
    background:black;
    color:white;
    text-align:center;
    line-height:50px;
    font-size:14px;
}